html, body
{
  height: 100%;
  margin: 0;
}

body
{
	background-image: linear-gradient(to right top, #d16ba5, #ac5494, #883f82, #632b70, #3f195d, #412063, #442768, #462e6e, #725090, #9e75b4, #cb9cd9, #fac5ff);
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}

label{
	color: white;
}

         
.btn-grad {
	background-image: linear-gradient(to right, #AAFFA9 0%, #11FFBD  51%, #AAFFA9  100%);
	margin: 20px;
	padding: 10px 35px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	border-color: white;
  }

  .btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: rgb(0, 0, 0);
	text-decoration: none;
  }
          
  .btn-grad2 {
	background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	border-color:white;
  }

  .btn-grad2:hover {
	background-position: right center; /* change the direction of the change here */
	color: rgb(0, 0, 0);
	text-decoration: none;
  }
          
  .btn-grad3 {
	background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	border-color: white;
  }

  .btn-grad3:hover {
	background-position: right center; /* change the direction of the change here */
	color: rgb(0, 0, 0);
	text-decoration: none;
  }
 